In [1]:
import os
import glob
import pandas as pd
import numpy as np

In [2]:
path = 'data'
all_files = glob.glob(path + "/*.csv")

In [3]:
df = pd.concat((pd.read_csv(f) for f in all_files))

In [4]:
df.shape

(5070134, 149)

In [5]:
df.insert(2, 'ssd', False, True)

In [6]:
df.loc[df['smart_233_raw'].notna(), 'ssd'] = True
df.drop(df[df['ssd'] == True].index, inplace=True)

In [7]:
df.shape

(4231352, 150)

In [8]:
df.head()

,date,serial_number,ssd,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2020-12-01,ZLW0EGC6,False,ST12000NM001G,12000138625024,0,82.0,161570952.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-01,Z305B2QN,False,ST4000DM000,4000787030016,0,117.0,144476168.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-01,ZJV0XJQ4,False,ST12000NM0007,12000138625024,0,100.0,1030832.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-01,ZJV0XJQ3,False,ST12000NM0007,12000138625024,0,82.0,177532056.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-01,ZLW18MKT,False,ST14000NM001G,14000519643136,0,84.0,227599440.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.drop(df.columns.difference(['date', 'serial_number', 'model', 'failure', 'smart_5_raw', 'smart_9_raw', 'smart_187_raw', 'smart_188_raw', 'smart_194_raw', 'smart_197_raw', 'smart_198_raw']), 1, inplace=True)

C:\Users\Dimitri\AppData\Local\Temp/ipykernel_4484/3606540127.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(df.columns.difference(['date', 'serial_number', 'model', 'failure', 'smart_5_raw', 'smart_9_raw', 'smart_187_raw', 'smart_188_raw', 'smart_194_raw', 'smart_197_raw', 'smart_198_raw']), 1, inplace=True)

In [10]:
df.head()

,date,serial_number,model,failure,smart_5_raw,smart_9_raw,smart_187_raw,smart_188_raw,smart_194_raw,smart_197_raw,smart_198_raw
0,2020-12-01,ZLW0EGC6,ST12000NM001G,0,0.0,4322.0,0.0,0.0,29.0,0.0,0.0
1,2020-12-01,Z305B2QN,ST4000DM000,0,0.0,43504.0,0.0,0.0,22.0,0.0,0.0
2,2020-12-01,ZJV0XJQ4,ST12000NM0007,0,0.0,20528.0,0.0,0.0,28.0,0.0,0.0
3,2020-12-01,ZJV0XJQ3,ST12000NM0007,0,0.0,17582.0,0.0,0.0,33.0,0.0,0.0
4,2020-12-01,ZLW18MKT,ST14000NM001G,0,0.0,422.0,0.0,0.0,25.0,0.0,0.0

In [11]:
df.to_csv('newdata\\newdata.csv')