# Support Vector Machine
In deze notebook wordt er een support vector machine opgesteld en getrained voor het voorspellen van failure bij harde schijven.

Stap 1: Libraries importeren

In [7]:
import pandas as pd
import numpy as np
import pickle
import os

from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, plot_confusion_matrix

Data importeren

In [10]:
sample = pd.read_csv(r'C:\Users\LOCAL USER\Zuyd\BD04\Casus\Cleaned dataset\januari_sample.csv')

In [11]:
copy_sample = sample.copy()

In [12]:
del copy_sample['date']
del copy_sample['serial_number']
del copy_sample['model']

In [13]:
copy_sample.shape

(3730261, 9)

In [14]:
assert isinstance(copy_sample, pd.DataFrame), "df needs to be a pd.DataFrame"
copy_sample.dropna(inplace=True)
indices_to_keep = ~copy_sample.isin([np.nan, np.inf, -np.inf]).any(1)
copy_sample[indices_to_keep].astype(np.float64)

,Unnamed: 0,failure,smart_5_raw,smart_9_raw,smart_187_raw,smart_188_raw,smart_194_raw,smart_197_raw,smart_198_raw
0,0.0,0.0,0.0,35462.0,0.0,0.0,22.0,0.0,0.0
1,1.0,0.0,0.0,12494.0,0.0,0.0,28.0,0.0,0.0
2,2.0,0.0,0.0,9544.0,0.0,0.0,29.0,0.0,0.0
3,3.0,0.0,0.0,13098.0,0.0,0.0,25.0,0.0,0.0
5,5.0,0.0,0.0,23427.0,0.0,0.0,32.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3730252,126231.0,0.0,0.0,25376.0,0.0,0.0,37.0,0.0,0.0
3730253,126232.0,0.0,0.0,32314.0,0.0,0.0,27.0,0.0,0.0
3730256,126235.0,0.0,8.0,31664.0,0.0,0.0,25.0,0.0,0.0
3730257,126236.0,0.0,0.0,17307.0,0.0,0.0,23.0,0.0,0.0
3730260,126239.0,0.0,0.0,3261.0,0.0,0.0,25.0,0.0,0.0

In [15]:
class_X = copy_sample.drop(['failure'], axis=1).values
class_Y = copy_sample['failure'].values

class_X.shape, class_Y.shape

((2701357, 8), (2701357,))

In [16]:
class_X_train, class_X_test, class_Y_train, class_Y_test = train_test_split(class_X, class_Y, test_size=0.2)

In [17]:
class_X_train.shape, class_Y_train.shape

((2161085, 8), (2161085,))

In [18]:
class_X_test.shape, class_Y_test.shape

((540272, 8), (540272,))

In [19]:
svm = SVC(kernel='linear')
svm.fit(class_X_train, class_Y_train)